@font-face {
   font-family: 'testFonts';
   src:  url('./Pacifico-Regular.ttf') format('woff2');
   font-weight: normal; 
   font-style: normal; 
}

.iconsBlock div span{
    font-weight: 700;
    font-family: "testFonts";
}